<!DOCTYPE html>
<html>
<head>
    <title>311 Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/drag_range.js') }}"></script>
    
    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='new_service_list.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/neighborhood_list.js') }}"></script>   
    <script type="text/javascript">    
        var graf = "{{url_for('static', filename='images/marker_images/graffiti.png') }}";
        var garb = "{{url_for('static', filename='images/marker_images/garbage.png') }}";
        var sew = "{{url_for('static', filename='images/marker_images/sewage.png') }}";
        var ss = "{{url_for('static', filename='images/marker_images/sidewalk-street.png') }}";
        var trees = "{{url_for('static', filename='images/marker_images/trees.png') }}";
        var vehic = "{{url_for('static', filename='images/marker_images/vehicle.png') }}";
        var wat = "{{url_for('static', filename='images/marker_images/water.png') }}";
        
        var graf_off = "{{url_for('static', filename='images/marker_images/graffiti_off.png') }}";
        var garb_off = "{{url_for('static', filename='images/marker_images/garbage_off.png') }}";
        var sew_off = "{{url_for('static', filename='images/marker_images/sewage_off.png') }}";
        var ss_off = "{{url_for('static', filename='images/marker_images/sidewalk-street_off.png') }}";
        var trees_off = "{{url_for('static', filename='images/marker_images/trees_off.png') }}";
        var vehic_off = "{{url_for('static', filename='images/marker_images/vehicle_off.png') }}";
        var wat_off = "{{url_for('static', filename='images/marker_images/water_off.png') }}";
                
        // Define which markers are on or off
        var initialized = true;
        
        var markers_switch = {'Sidewalk or Street': false, 'Garbage': false, 'Defacement / Graffiti': false,
            'Sewage': false, 'Vehicles': false, 'Trees': false, 'Water': false};
        
        var display_all_types = true;
            
        var p_neighborhoods;
        
        var neighborhood_counts,
            neighborhood_sc_counts;
        
        var color = d3.scale.linear()
            .domain([1, 400])
            .range(["#C8E8C7", "#499E8D"])
            .clamp(true);
            
        var format = d3.time.format('%Y-%m-%d');
        
        $(function() {
            var map,
                map_requests,
                chart,
                chart2,
                chart3,
                markers = [],
                date_range = [],
                sf_max_open,
                sf_max_closed,
                selected_range,
                dc,
                nm,
                sr_counts_by_date,
                days_to_display = 9; // The number of days to initially display
            
            var markers_by_type = {'Sidewalk or Street': {}, 'Garbage': {}, 'Defacement / Graffiti': {},
                'Sewage': {}, 'Vehicles': {}, 'Trees': {}, 'Water': {}};
            
            // Set up general statistics
            d3.json("/stats/category_counts", function(counts) {
                var max = {'category':'','count':0},
                    min = {'category': counts[1]['category'], 'count': counts[1]['count']};
                
                for (var i=0, len=counts.length; i < len; i++) {
                    if (counts[i]['category']) {
                        if (counts[i]['count'] > max['count']) {
                            max['count'] = counts[i]['count'];
                            max['category'] = counts[i]['category'];
                        } else if (counts[i]['count'] < min['count']) {
                            min['count'] = counts[i]['count'];
                            min['category'] = counts[i]['category'];
                        }
                    }
                }
                                
                // Most Requests over 30 days
                $('#most-requests').html(max['category']);
                
                // Least Requests over 30 days
                $('#least-requests').html(min['category']);
            });
            
            /*
            // Static
            d3.json("{{url_for('static', filename='neighborhood_sc_counts.json') }}", function(json) {
                neighborhood_sc_counts = json;
            });
            */
            
            // Set Average Response Time
            d3.json('/avg_resp_time', function(data) {
                $('#response-time').html(Math.round(data[0]['avg_response_time']) + ' Hours');
            });
            
            
            // Load data for neighborhood service_code counts
            d3.json("/stats/neighborhood_sc_counts", function(json) {
                neighborhood_sc_counts = json;
            });
                                            
            // Handle Service Request Selection
            $('#ss').click(function() {                
                handleSRDisplay('ss');
            }).mouseenter(function() {                
                enterKeyType('ss');
            }).mouseleave(function() {                
                leaveKeyType('ss');
            });
            
            $('#graffiti').click(function() {
                handleSRDisplay('graffiti');
            }).mouseenter(function() {                
                enterKeyType('graffiti');
            }).mouseleave(function() {                
                leaveKeyType('graffiti');
            });
            
            $('#sewage').click(function() {
                handleSRDisplay('sewage');
            }).mouseenter(function() {                
                enterKeyType('sewage');
            }).mouseleave(function() {                
                leaveKeyType('sewage');
            });
            
            $('#water').click(function() {
                handleSRDisplay('water');
            }).mouseenter(function() {                
                enterKeyType('water');
            }).mouseleave(function() {                
                leaveKeyType('water');
            });
            
            $('#vehicle').click(function() {
                handleSRDisplay('vehicle');
            }).mouseenter(function() {                
                enterKeyType('vehicle');
            }).mouseleave(function() {                
                leaveKeyType('vehicle');
            });
            
            $('#trees').click(function() {
                handleSRDisplay('trees');
            }).mouseenter(function() {                
                enterKeyType('trees');
            }).mouseleave(function() {                
                leaveKeyType('trees');
            });
            
            $('#garbage').click(function() {
                handleSRDisplay('garbage');
            }).mouseenter(function() {                
                enterKeyType('garbage');
            }).mouseleave(function() {                
                leaveKeyType('garbage');
            });
            
            function enterKeyType(type) {
                $('#' + type + '_text').removeClass('sr_text');
                $('#' + type + '_text').addClass('sr_text_over');
                
                if ($('#' + type + '_text').hasClass('sr_text_deselected')) {
                    $('#' + type + '_text').removeClass('sr_text_deselected');
                    $('#' + type + '_text').addClass('sr_text_over_deselected');
                }
            }
            
            function leaveKeyType(type) {
                $('#' + type + '_text').addClass('sr_text');
                $('#' + type + '_text').removeClass('sr_text_over');
                
                if ($('#' + type + '_text').hasClass('sr_text_over_deselected')) {
                    $('#' + type + '_text').removeClass('sr_text_over_deselected');
                    $('#' + type + '_text').addClass('sr_text_deselected');
                } 
            }
            
            function handleSRDisplay(type) {
                var shortened_types = {'ss': 'Sidewalk or Street', 'garbage': 'Garbage', 'graffiti': 'Defacement / Graffiti', 'sewage': 'Sewage',
                    'trees': 'Trees', 'vehicle': 'Vehicles', 'water': 'Water'};
                                    
                var all_types = ['ss','garbage','graffiti','sewage','trees','vehicle','water'];
                
                // Handle the text on click
                if ($('#' + type + '_text').hasClass('sr_text_over_deselected')) {
                    $('#' + type + '_text').removeClass('sr_text_over_deselected');
                    $('#' + type + '_text').addClass('sr_text');
                } else {
                    $('#' + type + '_text').removeClass('sr_text_over');
                }
                
                // Handle the icons
                
                markers_switch[shortened_types[type]] = !markers_switch[shortened_types[type]];
                
                for (var i=0, max=all_types.length; i < max; i++) {
                    if (!markers_switch[shortened_types[all_types[i]]]) {
                        $('.' + all_types[i] + '_icon').css('display', 'none');
                        
                        $('#' + all_types[i] + '_text').addClass('sr_text_deselected');
                        
                        $('.' + all_types[i] + '_selected').addClass(all_types[i] + '_off');
                        
                    } else {
                        $('.' + all_types[i] + '_icon').css('display', 'block');
                        
                        $('#' + all_types[i] + '_text').removeClass('sr_text_deselected');
                        $('.' + all_types[i] + '_selected').removeClass(all_types[i] + '_off');
                    }
                }
                                           
                initialized = false;
                
                for (var ms in markers_switch) {
                    display_all_types = true;
                    
                    if (!markers_switch[ms]) {
                        display_all_types = false;
                        break;
                    }
                }
                                
                redraw_map([dc[selected_range[0]]['date'], dc[selected_range[1]]['date']]);
            }
            
            function setSRIconDisplay() {
                var shortened_types = {'Sidewalk or Street':'ss', 'Garbage':'garbage', 'Defacement / Graffiti': 'graffiti', 'Sewage': 'sewage',
                    'Trees': 'trees', 'Vehicles': 'vehicle', 'Water': 'water'};
                
                for (var ms in markers_switch) {
                    if ((!markers_switch[ms]) && !initialized) {
                        console.log('none');
                        $('.' + shortened_types[ms] + '_icon').css('display', 'none');
                    } else if (!initialized) {
                        $('.' + shortened_types[ms] + '_icon').css('display', 'block');
                    }
                }
            }
            
            /*                     
            function update_statistics(path) {
                d3.json(path, function(data) {
                    $('#response-time').html(Math.round(data[0]['avg_response_time']) + ' Hours');
                });
            }
            */
            
            function stripLeadingZeroes(str) {
                return str.replace(/^[0]+/g,"");
            }
            
            function setDateLabels(start_date, end_date) {
                var from_date_label = $('#from_date'),
                    to_date_label = $('#to_date'),
                    left_thumb = $($('#slider').children('.ui-slider-handle')[0]),
                    right_thumb = $($('#slider').children('.ui-slider-handle')[1]),
                    //thumb_width = left_thumb.width();
                    thumb_width = 10;
                
                // Format date strings
                var start_date_arr = start_date.split('-'), ymd
                    end_date_arr = end_date.split('-');
                
                formatted_start_date = [start_date_arr[1], start_date_arr[2], start_date_arr[0]]
                    .map(stripLeadingZeroes) // This will apply stripLeadingZeroes to the year, unnecessarily.
                    .join('/');
                
                formatted_end_date = [end_date_arr[1], end_date_arr[2], end_date_arr[0]]
                    .map(stripLeadingZeroes)
                    .join('/');
                
                from_date_label.html(formatted_start_date);
                from_date_label.css('left', left_thumb.position().left - from_date_label.width() - thumb_width); // width 80
                
                to_date_label.html(formatted_end_date);
                to_date_label.css('left', right_thumb.position().left + thumb_width);
            }
            
            function setTitleDate(date_string) {            
                var date_arr = date_string.split('-');
                
                var date = new Date(date_arr[0],date_arr[1]-1,date_arr[2]);
                
                //var days =["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Satruday"];
            
                var months = ["January", "February", "March", "April", "May", "June", "July",
                    "August", "September", "October", "November", "December"];
                
                    
                $('#last-updated').html('Last updated on ' + months[date.getMonth()] + ' ' + date.getUTCDate() + ', ' + date.getFullYear());
            }
            
            function resetBarColors() {
                chart.selectAll(".open")
                    .attr("fill", function(d, i) { 
                        if ((i-1 < selected_range[0]) || (i > selected_range[1])) { 
                            return "#f2f2f2" 
                        } else { 
                            return "#cacaca" 
                        } 
                    } );
                
                chart2.selectAll(".closed")
                    .attr("fill", function(d, i) { 
                        if ((i-1 < selected_range[0]) || (i > selected_range[1])) { 
                            return "#f2f2f2" 
                        } else { 
                            return "#929292" 
                        } 
                    } );
            }
                                    
            function setStatusCounts() {
                //return [total_open, total_count];
                
                var total_open = 0,
                    total_closed = 0;
            
                for (var i = selected_range[0]; i < selected_range[1]; i++) {
                    total_open = total_open + dc[i]['Open'];
                    total_closed = total_closed + dc[i]['Closed'];
                }
                
                $("#open-count").html(total_open);
                $("#closed-count").html(total_closed);   
            }
            
            /*
            function sortServiceList() {
                d3.json('/stats/sr_counts', function(counts) {
                    sr_counts_by_date = counts; // cache this
                    
                    // date_range is already set
                                        
                    var groups = [];
                    
                    for (var date in date_range) {
                        //console.log(date);
                        
                        for (var group in sr_counts_by_date[date_range[date]]) {
                            if (groups[group]) {
                                groups[group] += sr_counts_by_date[date_range[date]][group];
                            } else {
                                groups[group] = sr_counts_by_date[date_range[date]][group]
                            }                        
                        }    
                    }
                    
                    // fix this: http://wolfram.kriesing.de/blog/index.php/2008/javascript-sort-object-by-a-value
                    var sortable = [];
                    
                    for (var group in groups) {
                        sortable.push([group,groups[group]]);
                    }
                    
                    sortable.sort(function(a,b) { return b[1] - a[1] });
                    
                    //console.log(sortable);
                    
                    var type_conversion ={'Sidewalk or Street': 'ss', 'Garbage': 'garbage', 'Defacement / Graffiti': 'graffiti',
                        'Sewage': 'sewage', 'Vehicles': 'vehicle', 'Water': 'water', 'Trees': 'trees'};
                    
                    var types = ['ss','garbage','graffiti','sewage','vehicle','water','trees'];
                    
                    var order = [];
                    for (var i=0; i < sortable.length; i++) {
                        order.push(type_conversion[sortable[i][0]]);
                    }
                    
                    for (var i=0; i < types.length; i++) {
                        if (order.indexOf(types[i]) == -1) {
                            order.push(types[i]);
                        }
                    }
                    
                    for (var i=order.length-2; i > 0; i--) {
                        $('#' + order[i]).insertBefore('#' + order[i+1]);
                    }
                                        
                    //return order;
                });         
            }
            */   
            function draw_bar_chart(path) {
                d3.json(path, function(daily_count) {
                    dc = daily_count;
                    
                    setTitleDate(dc[dc.length-1]['date']);
                    
                    selected_range = [dc.length-days_to_display, dc.length-1];
                    
                    /*
                    //Static
                    draw_map("{{url_for('static', filename='neighborhood_counts.json') }}", 
                        [dc[dc.length-days_to_display]['date'], dc[dc.length-1]['date']]);
                    */
                    
                    draw_map("/stats/neighborhood_counts", 
                        [dc[dc.length-days_to_display]['date'], dc[dc.length-1]['date']]);
                    
                    
                    //sortServiceList();
                    setStatusCounts();
                    
                    $('#slider').dragslider({
                        animate: false,
                        range: true,
                        rangeDrag: true,
                        min: 0,
                        max: dc.length-1,
                        values: selected_range,
                        slide: function(e, ui) {
                            if (ui.values[0] == ui.values[1]) {
                                return false;
                            }
                            
                            var start = ui['values'][0],
                                end = ui['values'][1];
                            
                            var start_date = dc[start]['date'],
                                end_date = dc[end]['date'];
                            
                            selected_range = [start, end];
                            
                            setTimeout(function() { setDateLabels(start_date, end_date) }, 5);
                            
                            resetBarColors();
                            
                            redraw_map([start_date, end_date]);
                            
                            setStatusCounts();
                            
                            //sortServiceList();
                        }
                    });
                    
                    $('.chart').css('display', 'block');
                    
                    setDateLabels(dc[dc.length-days_to_display]['date'], dc[dc.length-1]['date']);
                    
                    $('#typeList').css('display', 'block');
                    
                    var w = 850,
                        h = 100,
                        barPadding = 1,
                        barSeparation = 0;
                    
                    var max_open = d3.max(daily_count, function(d) { return d.Open; });
                    sf_max_open = max_open;
                    var max_closed = d3.max(daily_count, function(d) { return d.Closed; });
                    sf_max_closed = max_closed;
                    
                    var max = d3.max([max_open, max_closed]);
                    
                    var x = d3.scale.linear().domain([0, dc.length]).range([0, w]);
                    var x2 = d3.scale.linear().domain([0, dc.length]).range([0, w]);
                    
                    var xAxis = d3.svg.axis().scale(x).orient("bottom");
                                    
                    chart = d3.select("#open-chart")
                              .append("svg")
                              .attr("class", "chartArea")
                              .attr("width", w)
                              .attr("height", h);
                    
                    chart.selectAll(".open")
                      .data(daily_count)
                      .enter()
                      //.append("a") // Add a link
                      //.attr("xlink:href", function(d) { return '/daily/' + d.date})
                      .append("rect")
                      .attr("class", "open")
                      .attr("fill", function(d, i) { if (i-1 < selected_range[0]) { return "#f2f2f2" } else { return "#cacaca" } } )
                      .attr("x", function(d, i) {
                          return i * (w / daily_count.length);
                      })
                      .attr("y", .5*h+35)
                      .attr("height", 0)
                      .attr("width", w/daily_count.length - barPadding)
                      .attr("fill-opacity", .0001) // try setting this to zero for strange behavior
                      .transition()
                        .duration(400)
                        //.delay(function(d, i) { return i / daily_count.length * 400; })
                        .delay(function(d, i) { return i * daily_count.length; })
                        .attr("fill-opacity", 1)
                        .attr("y", function(d) { return h - 75*d.Open/max - .5 * h + 35; })
                        .attr("height", function(d) { return 75*d.Open/max; });
                    
                    chart.selectAll(".open")
                    .on("mouseover", function(d){
                        d3.select(this).classed("active", true);
                        $("#open-count").html(d.Open);
                      })
                      .on("mouseout", function(){
                          d3.select(this).classed("active", false);
                          //$("#count").html("Count");
                      });
                      
                    chart2 = d3.select("#closed-chart")
                      .append("svg")
                      .attr("class", "chartArea")
                      .attr("width", w)
                      .attr("height", h);
                                        
                    chart2.selectAll(".closed")
                      .data(daily_count)
                      .enter()
                      //.append("a") // Add a link
                      //.attr("xlink:href", function(d) { return '/daily/' + d.date})
                      .append("rect")
                      .attr("class", "closed")
                      .attr("fill", function(d, i) { if (i-1 < selected_range[0]) { return "#f2f2f2" } else { return "#929292" } } )
                      .attr("x", function(d, i) {
                                  return i * (w / daily_count.length);
                      })
                      .attr("y", .5*h - 35)
                      .attr("height", 0)
                      .attr("width", w/daily_count.length - barPadding)
                      .attr("fill-opacity", 0.0001) // try setting this to zero for strange behavior
                      .transition()
                        .duration(400)
                        .delay(function(d, i) { return i * daily_count.length; })
                        .attr("fill-opacity", 1)
                        .attr("y", function(d) { return .5 * h + barPadding - 35;})
                        .attr("height", function(d) { return 75*d.Closed/max; });
                    
                    chart2.selectAll(".closed")
                    .on("mouseover", function(d){ 
                                      d3.select(this).classed("active", true);
                                      $("#closed-count").html(d.Closed);
                    })
                    .on("mouseout", function(){
                                      d3.select(this).classed("active", false);
                    });              
                });            
            }
                        
            function draw_map(path, range) {
                d3.json("{{url_for('static', filename='planning_neighborhoods.json') }}", function(json) {
                    p_neighborhoods = json;
                    
                    d3.json(path, function(ncounts) {
                        neighborhood_counts = ncounts;
                        
                        var neigh_conversion = {'Inner Richmond': 'inner_richmond', 'Financial District': 'financial_district', 
                        'Castro/Upper Market': 'castro', 'Glen Park': 'glen_park', 'Western Addition': 'western_addition', 
                        'Outer Richmond': 'outer_richmond', 'Parkside': 'parkside', 'Presidio Heights': 'presidio_heights', 
                        'Bernal Heights': 'bernal', 'Golden Gate Park': 'gg_park', 'Lakeshore': 'lakeshore', 'Potrero Hill': 'potrero_hill', 
                        'Pacific Heights': 'pacific_heights', 'Excelsior': 'excelsior', 'Visitacion Valley': 'visitacion', 'Marina': 'marina', 
                        'Nob Hill': 'nob_hill', 'South of Market': 'soma', 'Chinatown': 'chinatown', 'Diamond Heights': 'diamond_heights', 
                        'West of Twin Peaks': 'west_twin_peaks', 'Noe Valley': 'noe_valley', 'North Beach': 'north_beach', 
                        'Crocker Amazon': 'crocker_amazon', 'Haight Ashbury': 'haight_ashbury', 'Outer Sunset': 'outer_sunset', 
                        'Bayview': 'bayview', 'Ocean View': 'ocean_view', 'Seacliff': 'seacliff', 'Treasure Island/YBI': 'ti', 
                        'Downtown/Civic Center': 'downtown', 'Presidio': 'presidio', 'Mission': 'mission', 'Inner Sunset': 'inner_sunset', 
                        'Russian Hill': 'russian_hill', 'Outer Mission': 'outer_mission', 'Twin Peaks': 'twin_peaks'};
                                            
                        var counts_by_n = {"Bayview":0, "Bernal Heights":0, "Castro/Upper Market":0, "Chinatown":0, "Crocker Amazon":0, 
                            "Diamond Heights":0, "Downtown/Civic Center":0, "Excelsior":0, "Financial District":0, "Glen Park":0, 
                            "Golden Gate Park":0, "Haight Ashbury":0, "Inner Richmond":0, "Inner Sunset":0, "Lakeshore":0, "Marina":0, 
                            "Mission":0, "Nob Hill":0, "Noe Valley":0, "North Beach":0, "Ocean View":0, "Outer Mission":0, "Outer Richmond":0, 
                            "Outer Sunset":0, "Pacific Heights":0, "Parkside":0, "Potrero Hill":0, "Presidio":0, "Presidio Heights":0, 
                            "Russian Hill":0, "Seacliff":0, "South of Market":0, "Treasure Island/YBI":0, "Twin Peaks":0, "Visitacion Valley":0, 
                            "West of Twin Peaks":0, "Western Addition":0};
                        
                        var start_day = range[0],
                            sd_arr = start_day.split('-'), // Might want to change this, parse date
                            end_day = range[1],
                            ed_arr = end_day.split('-');
                        
                        var start_date = new Date(sd_arr[0],sd_arr[1]-1, sd_arr[2],"0"),
                            end_date = new Date(ed_arr[0],ed_arr[1]-1, ed_arr[2],"1");
                        
                        var new_date_range = d3.time.day.range(start_date, end_date, 1).map(format);
                        
                        for (var i=0, max=new_date_range.length; i < max; i++) {
                            for (var neighborhood in neighborhood_counts[new_date_range[i]]){
                                counts_by_n[neighborhood] = counts_by_n[neighborhood] + neighborhood_counts[new_date_range[i]][neighborhood];
                            } 
                        }
                        
                        var minLat = p_neighborhoods.features[0]['geometry']['coordinates'][0][0][1],
                            minLon = p_neighborhoods.features[0]['geometry']['coordinates'][0][0][0],
                            maxLat = p_neighborhoods.features[0]['geometry']['coordinates'][0][0][1],
                            maxLon = p_neighborhoods.features[0]['geometry']['coordinates'][0][0][0];
            
                        for (var i=0; i < p_neighborhoods.features.length; i++) {
                            for (var j=0; j < p_neighborhoods.features[i]['geometry']['coordinates'][0].length; j++) {
                                var lon = p_neighborhoods.features[i]['geometry']['coordinates'][0][j][0];
                                var lat = p_neighborhoods.features[i]['geometry']['coordinates'][0][j][1];
                
                                if (minLon > lon) {
                                    minLon = lon;
                                } else if (lon > maxLon) {
                                    maxLon = lon;
                                }
                                
                                if (minLat > lat) {
                                    minLat = lat; 
                                } else if (lat > maxLat) {
                                    maxLat = lat;
                                }
                            }
                        }
                        
                        var center_lat = .5*(minLat+maxLat);
                        var center_lon = .5*(minLon+maxLon);
            
                        var proj = d3.geo.mercator().translate([.7*544600 - 20,.7*181870 - 80]).scale(.7*1600000);
                        
                        nm = d3.select("#neighborhood-map").append("svg")
                            .attr("width", 960)
                            .attr("height", 550);
                            
                        var path = d3.geo.path().projection(proj);
                        
                        var center = proj([center_lon, center_lat]);
                        
                        nm.selectAll("path")
                            .data(p_neighborhoods.features)
                        .enter()
                        .append("a") // Add a link
                        .attr("xlink:href", function(d) { return '/neighborhood/' + neigh_conversion[d['properties']['neighborho']]})
                        .append("path")
                        .attr("class","neighborhood")
                        .attr("id", function(d) {return d['properties']['neighborho'];})
                        .on("mouseover", function(d) { console.log("over", d['properties']['neighborho']); d3.select(this).style("stroke", "#050505") })
                        .on("mouseout", function() { d3.select(this).style("stroke", "white" )})
                        .attr("d", path)
                        .attr("transform", function(d) {
                            var centroid = path.centroid(d),
                                x = centroid[0],
                                y = centroid[1];
                                                        
                            var x_distance = Math.abs(center[0] - x);
                            
                            var y_distance = Math.abs(center[1] - y);
                            
                            console.log(x_distance, y_distance);
                                                    
                            var x_factor = 1.4;
                            
                            var y_factor = 1.4;
                            return "translate(" + x*x_factor + "," + y*y_factor + ")"
                                + "scale(1)"
                                + "translate(" + -x + "," + -y + ")";
                        })
                        .style("fill", function(d) {
                            //console.log(color(counts_by_n[d['properties']['neighborho']]));
                            return color(counts_by_n[d['properties']['neighborho']]); 
                        })
                        
                        nm.selectAll("text")
                            .data(p_neighborhoods.features)
                            .enter()
                            .append("text")
                            .attr("class", "neighborhood_label")
                            .attr("x", function(d) { 
                                    var centroid = path.centroid(d),
                                    x = centroid[0];
                                    
                                    return 1.4*x;
                            })
                            .attr("y", function(d) {
                                var centroid = path.centroid(d),
                                    y = centroid[1];
                                    
                                    return 1.4*y;
                            })
                            .attr("text-anchor", "middle")
                            .text(function(d) {
                                return counts_by_n[d['properties']['neighborho']];
                            });
                            
                    });
                });
            }
                        
            function redraw_map(range) {                
                var counts_by_n = {"Bayview":0, "Bernal Heights":0, "Castro/Upper Market":0, "Chinatown":0, "Crocker Amazon":0, 
                    "Diamond Heights":0, "Downtown/Civic Center":0, "Excelsior":0, "Financial District":0, "Glen Park":0, 
                    "Golden Gate Park":0, "Haight Ashbury":0, "Inner Richmond":0, "Inner Sunset":0, "Lakeshore":0, "Marina":0, 
                    "Mission":0, "Nob Hill":0, "Noe Valley":0, "North Beach":0, "Ocean View":0, "Outer Mission":0, "Outer Richmond":0, 
                    "Outer Sunset":0, "Pacific Heights":0, "Parkside":0, "Potrero Hill":0, "Presidio":0, "Presidio Heights":0, 
                    "Russian Hill":0, "Seacliff":0, "South of Market":0, "Treasure Island/YBI":0, "Twin Peaks":0, "Visitacion Valley":0, 
                    "West of Twin Peaks":0, "Western Addition":0};
                
                var start_day = range[0],
                    sd_arr = start_day.split('-'), // Might want to change this, parse date
                    end_day = range[1],
                    ed_arr = end_day.split('-');
                
                var start_date = new Date(sd_arr[0],sd_arr[1]-1, sd_arr[2],"0"),
                    end_date = new Date(ed_arr[0],ed_arr[1]-1, ed_arr[2],"1");
                
                var new_date_range = d3.time.day.range(start_date, end_date, 1).map(format);
                
                console.log(new_date_range);
                
                if (display_all_types) {
                    for (var i=0, max=new_date_range.length; i < max; i++) {
                        for (var neighborhood in neighborhood_counts[new_date_range[i]]){
                            counts_by_n[neighborhood] = counts_by_n[neighborhood] + neighborhood_counts[new_date_range[i]][neighborhood];
                        } 
                    }                
                } else {
                    for (var i=0, max=new_date_range.length; i < max; i++) {
                        for (var neigh in neighborhood_sc_counts[new_date_range[i]]) {
                            for (var sw in markers_switch) {
                                if (markers_switch[sw]) {
                                    if (sw in neighborhood_sc_counts[new_date_range[i]][neigh]) {
                                        counts_by_n[neigh] = counts_by_n[neigh] + neighborhood_sc_counts[new_date_range[i]][neigh][sw];
                                    }
                                }
                            }
                        }
                    }
                }
                
                console.log('counts by n', counts_by_n);
                
                // find max
                
                //var max = d3.max(d3.values(counts_by_n));
                
                //color.domain([0,max]);
                
                //var max = new_date_range.length * 200;
                //color.domain([0,max]);
                                                
                nm.selectAll("path")
                    .style("fill", function(d) {
                        //console.log(color(counts_by_n[d['properties']['neighborho']]));
                        return color(counts_by_n[d['properties']['neighborho']]); 
                    });
                
                nm.selectAll("text")
                    .text(function(d) {
                            return counts_by_n[d['properties']['neighborho']];
                    });
            }
                        
            //draw_bar_chart("{{url_for('static', filename='daily_count.json') }}");
            draw_bar_chart("/daily_count");
        });
    </script>
    </head>
    
    <body>
    <div class="dashboardCase">
        {% include "header.html" %}
        <h2 id="last-updated">&nbsp</h2>
        <div class="report">
            <div>
                <h3>Most Requests Past Month</h3>
                <span id="most-requests"></span>
            </div>
            <div>
                <h3>Least Requests Past Month</h3>
                <span id="least-requests"></span>
            </div>
            <div>
                <h3>Average Response Time</h3>
                <span id='response-time'>&nbsp;</span> 
            </div>
        </div>
        <div class="chart" style="display:none">
            <div id="open-chart"></div>
            
            <div id="slider" style="width: 860px">
                <div class="date_labels" id="from_date"></div>
                <div class="date_labels" id="to_date"></div>
            </div>
            
            <div id="closed-chart"></div>
            
            <div style="float:right; position: relative; top: -177px; height: 140px; width: 60px;">
                <div style="position:relative; top: 0px">
                    <span id="open-count" class="requestCount">&nbsp;</span><br /> Open
                </div>
                <div style="position:relative; top: 42px">
                    <span id="closed-count" class="requestCount">&nbsp;</span><br /> Closed
                </div>
            </div>
        </div>
        <div id="map_container" style="width: 960px; height: 550px;">
            <div id="neighborhood-map"></div>
            <div id="typeList">
                    <span id="ss" class="type">
                        <span class="sr_image ss_selected">&nbsp</span>
                        <span id="ss_text" class="sr_text">Sidewalk or Street</span>
                    </span>
                    <span id="garbage" class="type">
                        <span class="sr_image garbage_selected">&nbsp</span>
                        <span id="garbage_text" class="sr_text">Garbage</span>
                    </span>
                    <span id="vehicle" class="type">
                        <span class="sr_image vehicle_selected">&nbsp</span>
                        <span id="vehicle_text" class="sr_text">Vehicles</span>
                    </span>
                    <span id="graffiti" class="type">
                        <span class="sr_image graffiti_selected">&nbsp</span>
                        <span id="graffiti_text" class="sr_text">Defacement/Graffiti</span>
                    </span>
                    <span id="trees" class="type">
                        <span class="sr_image trees_selected">&nbsp</span>
                        <span id="trees_text" class="sr_text">Trees</span>
                    </span>
                    <span id="water" class="type">
                        <span class="sr_image water_selected">&nbsp</span>
                        <span id="water_text" class="sr_text">Water</span>
                    </span>
                    <span id="sewage" class="type">
                        <span class="sr_image sewage_selected">&nbsp</span>
                        <span id="sewage_text" class="sr_text">Sewage</span>
                    </span>
            </div>
        </div>
    </div>
    </body>
</html>