body    {font-family: sans-serif; backgroundL #eee; }
a, h2, h2       { color: #377BA8; }
h2, h2  { font-family: 'Georgia', serif; margin:  0; }
h1      { border-bottom: 2px solid #eee; }
h2      { font-size: 1.2em; }

.requests { lsit-style: none; margin: 0; padding: 0; }
.requests li { margin: 0.8 em 1.2em; {
.requests li h2 { margin-left: -1em; }
.error { background: #F0D6D6; padding: 0.5em; }
