body { 
    font-family: 'Helvetica Neue', Helvetica, Arial, sansserif; 
    font-size: 100%; 
    padding: 20px; 
    color: #333; 
}

.dashboardCase { 
    width: 960px; 
    margin-right: auto; 
    margin-left: auto;
}

.cityName {
    font-weight: normal;
    color: #999;
}

.title {
    color: #333;
}

h1 { 
    margin-top: 0; 
    font-size: 24px;  
}

h2 { 
    font-size: 16px; 
    color: #000; 
    margin-bottom: 0; 
}

.searchBox {
    float: right;
}

.input_text {
    color: #555;
    font-size: 13px;
}

.search_input {
    padding: 5px;
    border: 1px solid #D2D2D2;
    border-top-color: #AEAEAE;
    height: 14px;
}

.search_button {
    border: 1px solid #333;
    background-color: #333;
    color: #FFF;
    width: 75px;
    height: 25px;
    cursor: pointer;
}
    
.report {
    height: 60px;
}

.report h3 { 
    font-size: 14px; 
    color: #999; 
    font-weight: normal; 
    margin-bottom: 0;  
}

.report div {
    width: 280px;
    height: 60px;
    float: left;
    font-size: 1.5em; 
    color: #000; 
}

.neighborhood_report div {
    width: 240px;
}

.neighborhood_report select { 
    font-size: 14px; 
}

.chart {
    position: relative;
}

.chart .requestCount { 
    font-weight: bold; 
    color: #333; 
    font-size: 1.5em; 
}

#neighborhood-map {
    width: 960px; 
    height: 520px;
    position: absolute;
    margin-top: 20px; 
}

#map {
    width: 960px; 
    height: 520px;
    position: absolute;
    margin-top: 20px; 
}

.neighborhood {
    cursor: pointer;
}

.neighborhood_label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sansserif;
    fill: #fff;
    font-size: 13px;
    pointer-events: none;
}

.ui-slider {
    cursor: pointer;
}

.ui-slider .ui-slider-handle {
    width: .6em;
    cursor: pointer;
}

.date_labels {
    display: inline-block;
    width: 80px;
    position: absolute;
    font-size: 13px;
    color: #333;
}

#typeList {
    display: none; 
    width: 200px; 
    height: auto; 
    padding: 5px; 
    top: 65px; 
    left: 700px; 
    background: rgba(255,255,255,.8); 
    position: relative; 
    z-index: 2;
}

.chartArea {
  cursor: pointer;
}
    
.active {
  fill: #333;
}

a {
    text-decoration: none;
}

.type {
    display: block;
    padding: 8px;
    margin: 5px;
    background: #FFF;
    cursor: pointer;
}


.type_selected {
    color: #000;
}

.type_deselected {
    color: #CCC;
}

.sr_text {
    color: #000;
}

.sr_text_over {
    text-decoration: underline;
    color: #0099cc;
}

.sr_text_over_deselected {
    text-decoration: underline;
    color: #0099cc;
}

.sr_text_deselected {
    color: #CCC;
    text-decoration: none;
}

.sr_image {
    display: inline-block;
    width: 18px;
    height: 18px;
}
    .ss_selected {
        background: url("../images/marker_images/sidewalk-street.png") no-repeat;
    }
    
    .graffiti_selected {
        background: url("../images/marker_images/graffiti.png") no-repeat;
    }
    
    .garbage_selected {
        background: url("../images/marker_images/garbage.png") no-repeat;
    }
    
    .sewage_selected {
        background: url("../images/marker_images/sewage.png") no-repeat;
    }
    
    .trees_selected {
        background: url("../images/marker_images/trees.png") no-repeat;
    }
    
    .water_selected {
        background: url("../images/marker_images/water.png") no-repeat;
    }
    
    .vehicle_selected {
        background: url("../images/marker_images/vehicle.png") no-repeat;
    }
    
    .ss_off {
        background: url("../images/marker_images/sidewalk-street_off.png") no-repeat;
    }
    
    .graffiti_off {
        background: url("../images/marker_images/graffiti_off.png") no-repeat;
    }
    
    .garbage_off {
        background: url("../images/marker_images/garbage_off.png") no-repeat;
    }
    
    .sewage_off {
        background: url("../images/marker_images/sewage_off.png") no-repeat;
    }
    
    .trees_off {
        background: url("../images/marker_images/trees_off.png") no-repeat;
    }
    
    .water_off {
        background: url("../images/marker_images/water_off.png") no-repeat;
    }
    
    .vehicle_off {
        background: url("../images/marker_images/vehicle_off.png") no-repeat;
    }
.ss_icon {
    z-index: 99999;
}